[Unit]
Description=Kairos k3s booted stage runner (k3s-server)
Wants=k3s-server.service
After=k3s-server.service

[Service]
Type=oneshot
ExecStart=kairos-agent run-stage provider-kairos.bootstrap.after.k3s-server-ready
TimeoutSec=30

[Install]
WantedBy=multi-user.target