[Unit]
Description=Kairos k3s booted stage runner (k3s-agent)
Wants=k3s-agent.service
After=k3s-agent.service

[Service]
Type=oneshot
ExecStart=kairos-agent run-stage provider-kairos.bootstrap.after.k3s-agent-ready
TimeoutSec=30

[Install]
WantedBy=multi-user.target