virtual_environment_username = ""
virtual_environment_password = ""
virtual_environment_endpoint = ""

opnsense_endpoint = ""
opnsense_username = ""
opnsense_password = ""

infisical_client_id = ""
infisical_client_secret = ""
infisical_project_slug = "" # Use workspaceId/projectId
infisical_environment = ""
cluster_domain = ""